body
  color: $text-color
  font-family: 'Mediator', Arial, sans-serif
  font-size: 14px
  line-height: 1.75
  overflow-wrap: break-word

  @media(min-width: 1200px)
    font-size: 16px

a
  color: $green
  transition: color 0.3s

  &:hover,
  &:focus
    color: rgba($green, 0.6)

*:focus
  outline: none

h1,.h1,
h2,.h2,
h3,.h3,
h4,.h4,
h5,.h5,
h6,.h6
  font-weight: 700
  margin-top: 0

h1,
.h1
  font-size: 28px
  font-weight: 800
  line-height: 1.2
  letter-spacing: -1px
  margin-bottom: 24px

  @media(min-width: 1350px)
    font-size: 40px

  small
    font-size: 66%
    font-weight: 700

h2,
.h2
  font-size: 23px
  line-height: 1.2
  font-weight: 800
  line-height: 1.2
  letter-spacing: -1px
  margin-bottom: 24px

  @media(min-width: 1350px)
    font-size: 32px

  small
    font-size: 66%
    font-weight: 700

h3,
.h3
  font-size: 17px
  line-height: 1.2
  font-weight: 800
  line-height: 1.2
  letter-spacing: -1px
  margin-bottom: 24px

  @media(min-width: 1350px)
    font-size: 24px

h4,
.h4
  font-size: 15px
  line-height: 1.2
  font-weight: 800
  line-height: 1.2
  letter-spacing: -0.5px
  margin-bottom: 24px

  @media(min-width: 1350px)
    font-size: 20px

h5,
.h5
  font-size: 14px
  line-height: 1.2
  font-weight: 800
  line-height: 1.2
  letter-spacing: -0.5px
  margin-bottom: 24px

  @media(min-width: 1350px)
    font-size: 18px

h6,
.h6
  font-size: 14px
  line-height: 1.2
  font-weight: 800
  line-height: 1.2
  letter-spacing: -0.5px
  margin-bottom: 24px

  @media(min-width: 1350px)
    font-size: 16px

p,
ul,
ol,
table,
.table-responsive,
.responsive-table
  margin-top: 0
  margin-bottom: 24px

  &:last-child
    margin-bottom: 0

.table-responsive,
.responsive-table
  min-height: 0.01%
  overflow-x: auto

table
  border-collapse: collapse
  border: none
  max-width: 100%
  margin-bottom: 40px
  text-align: left
  width: 100%

  &:last-child
    margin-bottom: 0

  .th,
  th
    font-weight: 700
    padding: 16px
    vertical-align: middle
    text-transform: uppercase

  &.striped
    tbody
      tr:nth-child(odd)
        background-color: $purple_light

  tbody
    td,
    th
      border-bottom: 1px solid $purple
      padding: 14px 16px
      vertical-align: middle

img
  height: auto
  max-width: 100%
  vertical-align: top

ul,
ol
  list-style-position: inside
  padding: 0

ul
  list-style: none
  padding: 0

  &:not([class])
    li
      position: relative
      padding-left: 20px

      &::before
        content: '•'
        left: 0
        position: absolute
        text-align: center
        top: 0
        width: 20px

.title-block
  display: flex
  flex-wrap: wrap
  margin-bottom: 24px

  .h1,
  h1,
  .h2,
  h2
    margin-bottom: 0
    margin-right: auto
    padding-right: 16px

  &__controls
    align-items: center
    display: flex

  &__select
    margin-right: 12px
    min-width: 170px

    @media(min-width: 768px)
      margin-right: 32px

  &__buttons
    align-items: center
    display: flex

    & > button:not(:last-child)
      margin-right: 12px

    &--type_1
      .slick-next,
      .slick-prev
        background-color: $purple_light

        &:hover,
        &:focus
          background-color: $purple

          .icon
            fill: #fff

        .icon
          fill: $purple
