<div class="float-bar compensate-for-scrollbar">
    <a class="iconed-link" href="#">
        <svg class="icon">
            <use xlink:href="#user"></use>
        </svg>
        <span class="iconed-link__title">Личный<br> кабинет</span>
    </a>
    <a class="iconed-link" href="#">
        <svg class="icon">
            <use xlink:href="#cart"></use>
        </svg>
        <span class="iconed-link__title">Корзина</span>
    </a>
    <a class="iconed-link" href="#">
        <svg class="icon">
            <use xlink:href="#eye"></use>
        </svg>
        <span class="iconed-link__title">Версия для<br> слабовидящих</span>
    </a>
</div>