<footer class="alt-footer">
    <div class="container">
        <div class="alt-footer__top">
            <div class="alt-footer__logo">
                <img src="images/logo_full.svg" alt="СЕВЕРО-ЗАПАДНЫЙ ЦЕНТР ДОКАЗАТЕЛЬНОЙ МЕДИЦИНЫ">
            </div>
            <div class="alt-footer__menu">
                <a href="#">СЗЦДМ</a>
                <a href="#">Лаборатория</a>
                <a href="#">Контакты</a>
            </div>
            <div class="alt-footer__contacts">
                <a href="tel:+78126004712">600-47-12, доб. 3039</a><br>
                <a href="mailto:">testlab@cdmed.ru</a>
            </div>
        </div>
        <p class="alt-footer__links"><a href="#">Политика конфиденциальности и обработка<br> персональных даных</a></p>
        <p class="alt-footer__copyright">© СЗЦДМ 2021</p>
    </div>
</footer>