<div id="geo_popup" class="geo-popup">
    <p class="h3">Выберите ваш город:</p>
    <ul class="geo-popup__big-list">
        <li><button class="button button--height_3 button--type_8" type="button">Санкт-Петербург</button></li>
        <li><button class="button button--height_3 button--type_8" type="button">Сестрорецк</button></li>
        <li><button class="button button--height_3 button--type_8" type="button">Выборг</button></li>
    </ul>
    <ul class="geo-popup__list">
        <li><button type="button">Абаза</button></li>
        <li><button type="button">Абакан</button></li>
        <li><button type="button">Абдулино</button></li>
        <li><button type="button">Абинск</button></li>
        <li><button type="button">Агидель</button></li>
        <li><button type="button">Агрыз</button></li>
        <li><button type="button">Адыгейск</button></li>
        <li><button type="button">Азнакаево</button></li>
        <li><button type="button">Азов</button></li>
        <li><button type="button">Ак-Довурак</button></li>
        <li><button type="button">Анадырь</button></li>
        <li><button type="button">Артём</button></li>
        <li><button type="button">Бабушкин</button></li>
        <li><button type="button">Балтийск</button></li>
        <li><button type="button">Балашиха</button></li>
        <li><button type="button">Барнаул</button></li>
        <li><button type="button">Белгород</button></li>
        <li><button type="button">Благовещенск</button></li>
    </ul>
</div>