<header class="header compensate-for-scrollbar">
    <div class="header__top header__top--lab container">
        <a class="header__logo" href="main.html" title="На главную">
            <picture>
                <source srcset="images/logo_full.svg" media="(min-width: 1350px)">
                <img src="images/logo.svg" alt="СЕВЕРО-ЗАПАДНЫЙ ЦЕНТР ДОКАЗАТЕЛЬНОЙ МЕДИЦИНЫ">
            </picture>
        </a>

        <div class="header__bottom">
            <div class="header__bottom-inner container">
                <button class="js-menu-closer header__menu-closer" type="button" title="Закрыть меню">
                    <svg class="icon">
                        <use xlink:href="#close"></use>
                    </svg>
                </button>
                <nav class="main-menu">
                    <ul class="main-menu__list">
                        <li class="main-menu__list-item">
                            <a class="main-menu__link" href="#">Лаборатория</a>
                        </li>
                        <li class="main-menu__list-item">
                            <a class="main-menu__link" href="#">Услуги</a>
                        </li>
                        <li class="main-menu__list-item">
                            <a class="main-menu__link" href="#">Цены</a>
                        </li>
                        <li class="main-menu__list-item">
                            <a class="main-menu__link" href="#">Производственный контроль</a>
                        </li>
                        <li class="main-menu__list-item">
                            <a class="main-menu__link" href="#">Контакты</a>
                        </li>
                    </ul>
                </nav>
                <div class="header__contacts">
                    <div class="header__phone">
                        <a href="tel:+78126004200">8 (812) 600-42-00</a>
                        <span>Контактный центр</span>
                    </div>
                    <button class="button button--height_2 button--type_1" type="button">
                        <span>Заказать звонок</span>
                    </button>
                </div>
            </div>
        </div>

        <div class="header__contacts">
            <div class="header__phone">
                <a href="tel:+78126004712">600-47-12, доб. 3039</a>
                <span>Контактный центр</span>
            </div>
            <button class="button button--height_2 button--type_1" type="button" data-fancybox="recall" data-src="#recall_popup">
                <span>Записаться онлайн</span>
            </button>
        </div>
        <button class="js-menu-opener header__burger" type="button" title="Открыть меню">
            <svg class="icon">
                <use xlink:href="#burger"></use>
            </svg>
        </button>
    </div>
</header>