<div id="review_popup" class="recall-popup">
    <p class="h1 text-center">Добавить отзыв</p>
    <form action="">
        <div class="recall-popup__row">
            <label class="input-label">
                <input class="input" type="text" value="" placeholder="Ваше имя" />
            </label>
        </div>
        <div class="recall-popup__row">
            <label class="input-label">
                <input class="js-phone-mask input" type="text" value="" placeholder="Ваш телефон" />
            </label>
        </div>
        <div class="recall-popup__row">
            <label class="input-label">
                <textarea class="textarea" placeholder="Текст отзыва"></textarea>
            </label>
        </div>
        <p class="recall-popup__note">*нажимая на кнопку вы соглашаетесь на обработку <a href="#">персональных&nbsp;данных</a></p>
        <p class="text-center">
            <button class="recall-popup__submit button button--type_1 button--height_4" type="submit" disabled>Отправить</button>
        </p>
    </form>
</div>