<div id="review_popup_full" class="geo-popup">
    <div class="analysis__top">
        <p class="analysis__time">21.05.2021</p>
    </div>
    <div class="analysis__bottom">
        <div class="analysis__info">
            <p class="analysis__subtitle">Романова Анна, Санкт-Петербург</p>
            <div class="analysis__preview" style="max-width: 100%">
                Хочу сказать огромное спасибо медсестре выездной службы Корнеенко Наталье! Брала на дому кровь из вены у ребенка 2,7! Все очень профессионально, быстро, качественно! Малыш почти ничего не понял и сказал, что еще позовем в гости! Следа
                от укола почти не видно! Очень радует, что в этой сфере работают такие молодые, красивые и главное - профессиональные люди! Еще раз огромное Спасибо Вам! </div>
        </div>
    </div>
</div>