.consult
  &__steps-block
    margin-bottom: 48px
    overflow-x: auto
    text-align: center

  &__steps
    display: inline-flex
    justify-content: center

  &__steps-item
    align-items: center
    border-bottom: 4px solid $green_light
    display: flex
    font-weight: 700
    justify-content: center
    padding-left: 8px
    padding-right: 8px
    padding-bottom: 4px
    white-space: nowrap
    transition: background-color 0.3s

    @media(min-width: 1900px)
      font-size: 18px
      padding-left: 12px
      padding-right: 12px

    span
      align-items: center
      border-radius: 50%
      background-color: $green_light
      color: $green
      display: flex
      font-size: 16px
      height: 24px
      justify-content: center
      min-width: 24px
      margin-right: 8px
      width: 24px

      &.is-active
        background-image: url("data:image/svg+xml,%3Csvg width='11' height='12' viewBox='0 0 11 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.35014 6.01015L4.38887 10.7293L9.05368 1.84951' stroke='%2300B0C8' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A")
        background-position: 50% 50%
        background-repeat: no-repeat

    &.current
      border-bottom-color: $green

    &.is-active
      color: rgba($text-color, 0.5)

    &:first-child
      padding-left: 0

    &:last-child
      padding-right: 0

  &__step
    &:not(:last-child)
      margin-bottom: 72px

  &__title
    margin-bottom: 32px
    opacity: 0.5
    text-align: center

    &.is-active
      opacity: 1

  &__age
    margin-bottom: 64px
    text-align: center

    .group-buttons
      width: 238px

    .group-buttons__button
      width: 50%

  &__search
    margin-bottom: 24px

    .search-bar__form-block
      padding-bottom: 32px

  &__alphabeth
    background-color: $green_light
    border-radius: $border-radius
    margin-bottom: 56px
    text-align: center

  &__specials
    margin-left: auto
    margin-right: auto

    @media(min-width: 1024px)
      width: 90%

    &:not(:last-child)
      margin-bottom: 56px

  &__specials-list
    @media(min-width: 768px)
      columns: 2
      column-gap: 40px

    @media(min-width: 1024px)
      columns: 3

    li
      margin-bottom: 10px

    button
      background-color: transparent
      border: none
      cursor: pointer
      font-weight: 700
      padding: 5px 0
      text-align: left
      transition: color 0.3s

      &:hover,
      &:focus
        color: $green

  &__types
    &:not(:last-child)
      margin-bottom: 56px

  &__types-list
    @media(min-width: 768px)
      display: flex
      margin-left: -16px
      margin-right: -16px

  &__types-item
    margin-bottom: 24px

    @media(min-width: 768px)
      display: flex
      max-width: 616px
      padding-left: 16px
      padding-right: 16px
      width: 50%

    .card-label
      height: auto
      width: 100%

  &__map
    margin-bottom: 32px

  &__result-block
    @media(min-width: 1024px)
      display: flex
      flex-wrap: wrap
      margin-left: -12px
      margin-right: -12px

  &__result-form
    margin-bottom: 24px

    @media(min-width: 1024px)
      margin-bottom: 0
      padding-bottom: 72px
      padding-left: 12px
      padding-right: 12px
      width: 66.66666%

  &__result-form-columns
    @media(min-width: 768px)
      display: flex
      margin-left: -12px
      margin-right: -12px

  &__result-form-column
    @media(min-width: 768px)
      padding-left: 12px
      padding-right: 12px
      width: 50%

    .input-label
      margin-bottom: 24px

  &__result
    margin-bottom: 24px

    @media(min-width: 1024px)
      margin-bottom: 0
      padding-left: 12px
      padding-right: 12px
      width: 33.33333%

  &__result-button-block
    width: 100%

    @media(min-width: 1024px)
      margin-top: -48px
      padding-left: 12px
      padding-right: 12px

  &__week,
  &__doctors
    margin-bottom: 36px

.week
  background-color: $green_light
  padding: 8px 44px
  position: relative

  @media(max-width: 1023px)
    margin-left: -20px
    margin-right: -20px

  @media(min-width: 1024px)
    border-radius: $border-radius

  @media(min-width: 1900px)
    padding-left: 70px
    padding-right: 70px

  &__list
    display: flex
    margin-left: -8px
    margin-right: -8px
    overflow-x: auto

  &__list-item
    min-width: 98px
    padding: 8px 4px
    width: calc(100% / 7)

  &__button
    align-items: center
    border: none
    border-radius: 50%
    background-color: #fff
    cursor: pointer
    display: flex
    height: 32px
    justify-content: center
    padding: 0
    position: absolute
    top: 50%
    transform: translateY(-50%)
    width: 32px

    &:first-child
      left: 2px

      @media(min-width: 1900px)
        left: 16px

    &:last-child
      left: auto
      right: 2px

      @media(min-width: 1900px)
        right: 16px

    .icon
      fill: $text-color
      height: 24px
      width: 24px

  &__day
    background-color: #fff
    border: none
    border-radius: $border-radius
    cursor: pointer
    display: block
    font-size: 12px
    padding: 12px 8px
    transition: box-shadow 0.3s
    white-space: nowrap
    width: 100%

    &:hover,
    &:focus
      box-shadow: 0 2px 3px 0 rgba(#000, 0.1)

    @media(min-width: 1350px)
      font-size: 14px

    @media(min-width: 1900px)
      font-size: 16px

    &.is-active
      box-shadow: 0 4px 6px 0 rgba(#000, 0.2)

  &__day-title
    display: block
    font-weight: 700
    margin-bottom: 4px

  &__day-options
    display: block
    font-size: 11px

    @media(min-width: 1900px)
      font-size: 14px

.consult-result
  background-color: $green_light
  border-radius: $border-radius

  &__block
    padding: 16px 24px

    &--time
      display: flex

    &:not(:last-child)
      border-bottom: 2px solid $text-color

    p
      &:not(:last-child)
        margin-bottom: 8px

  &__block-time
    width: 40%

  &__block-title
    font-weight: 700

  &__price
    display: flex
    flex-wrap: wrap
    justify-content: space-between

.doc-time
  border-radius: $border-radius
  background-color: $green_light
  padding: 12px

  @media(min-width: 1024px)
    display: flex
    justify-content: space-between

  @media(min-width: 1900px)
    padding: 24px

  &:not(:last-child)
    margin-bottom: 36px

  &__info-block
    margin-bottom: 24px

    @media(min-width: 768px)
      align-items: flex-start
      display: flex

    @media(min-width: 1024px)
      margin-bottom: 0
      max-width: 780px

  &__image
    background-color: #fff
    border-radius: $border-radius
    margin-bottom: 24px
    max-width: 384px
    padding: 16px

    @media(min-width: 768px)
      margin-bottom: 0
      width: 50%

  &__info
    @media(min-width: 768px)
      padding-top: 16px
      padding-left: 16px
      width: 50%

  &__name
    font-size: 28px
    font-weight: 900
    line-height: 1.14285
    margin-bottom: 0

  &__place
    font-weight: 700

  &__location,
  &__feature
    @media(max-width: 767px)
      display: none

    align-items: center
    display: flex
    font-weight: 700

    &:not(:last-child)
      margin-bottom: 12px

    .icon
      fill: $text-color
      height: 32px
      margin-right: 12px
      width: 32px

  &__time-block
    @media(min-width: 1024px)
      padding-top: 16px
      padding-left: 24px
      max-width: 580px

  &__time-list
    display: flex
    flex-wrap: wrap
    list-style: none
    padding: 0

  &__time-list-item
    margin-bottom: 8px
    margin-right: 8px

  &__time-radio
    position: relative

    input[type="checkbox"],
    input[type="radio"]
      position: absolute
      height: 1px
      overflow: hidden
      clip: rect(0 0 0 0)
      width: 1px

      &:checked + .doc-time__time-text
        background-color: $text-color
        color: #fff

  &__time-text
    align-items: center
    border-radius: 4px
    background-color: #fff
    cursor: pointer
    display: flex
    font-size: 14px
    font-weight: 700
    height: 40px
    justify-content: center
    min-width: 78px
