.doctors-list
  list-style: none
  margin: 0
  padding: 0

  @media(min-width: 768px)
    display: flex
    flex-wrap: wrap
    margin-left: -6px
    margin-right: -6px

  @media(min-width: 1024px)
    margin-left: -10px
    margin-right: -10px

  @media(min-width: 1350px)
    margin-left: -20px
    margin-right: -20px

  &:not(:last-child)
    margin-bottom: 56px

    @media(min-width: 1350px)
      margin-bottom: 96px

  &.slick-initialized
    .doctors-list__item
      margin-bottom: 0

  .slick-list
    width: 100%

  .slick-track
    display: flex
    margin-left: 0
    margin-right: 0

  &__item
    height: auto
    margin-bottom: 24px

    @media(min-width: 768px)
      display: flex
      padding-left: 6px
      padding-right: 6px
      width: 50%

    @media(min-width: 1024px)
      padding-left: 10px
      padding-right: 10px
      width: 25%

    @media(min-width: 1350px)
      padding-left: 20px
      padding-right: 20px

.doctor
  display: flex
  flex-direction: column
  height: 100%
  margin-left: auto
  margin-right: auto
  max-width: 392px
  position: relative
  width: 100%

  &:hover,
  &:focus
    .doctor__image
      background-color: $purple_light
      box-shadow: 0 4px 6px 0 rgba(#000, 0.2)

  &__image
    background-color: #fff
    border: 1px solid $purple_light
    border-radius: $border-radius
    margin-bottom: 20px
    padding: 16px
    transition: background-color 0.3s, box-shadow 0.3s

    img
      border-radius: $border-radius

  &__info
    display: flex
    flex-direction: column
    flex-grow: 1

  &__name
    font-size: 18px
    font-weight: 800
    line-height: 1.2
    margin-bottom: 0

    @media(min-width: 1350px)
      font-size: 20px

    @media(min-width: 1900px)
      font-size: 24px

    a
      color: $text-color
      text-decoration: none

      &::after
        bottom: 0
        content: ''
        left: 0
        position: absolute
        right: 0
        top: 0
        z-index: 1

  &__place
    margin-bottom: 16px

  &__exp
    font-size: 18px
    font-weight: 800
    margin-top: auto

.doctor-inline
  display: flex
  flex-direction: column
  height: 100%
  margin-left: auto
  margin-right: auto
  max-width: 392px
  position: relative
  width: 100%

  @media(min-width: 768px)
    align-items: center
    flex-direction: row
    max-width: 100%

  &:not(:last-child)
    margin-bottom: 56px

  &__image
    background-color: $purple_light
    border: 1px solid $purple_light
    border-radius: $border-radius
    margin-bottom: 20px
    max-width: 386px
    padding: 16px

    @media(min-width: 768px)
      margin-bottom: 0
      min-width: 386px
      width: 386px

    img
      border-radius: $border-radius

  &__info
    @media(min-width: 768px)
      padding-left: 24px

  &__name
    font-size: 18px
    font-weight: 800
    line-height: 1.2
    margin-bottom: 24px

    @media(min-width: 1024px)
      font-size: 20px

    @media(min-width: 1350px)
      font-size: 24px

  &__place
    font-weight: 700
    margin-bottom: 16px
