.lists-block
  &:not(:last-child)
    margin-bottom: 44px

    @media(min-width: 1350px)
      margin-bottom: 84px

  &__list
    list-style: none
    padding: 0

    @media(min-width: 768px)
      columns: 2
      overflow: hidden
      -webkit-column-break-inside: avoid
      page-break-inside: avoid
      break-inside: avoid
      break-inside: avoid-column
      overflow-wrap: initial

  &__list-item
    margin-bottom: 12px
    overflow: hidden

  &__link
    align-items: center
    border-radius: $border-radius
    border: 1px solid $purple_light
    background-color: #fff
    color: $text-color
    display: flex
    font-size: 18px
    font-weight: 800
    line-height: 1.2
    padding: 16px
    transition: background-color 0.3s
    text-decoration: none

    @media(min-width: 1350px)
      font-size: 20px
      padding: 24px

    @media(min-width: 1900px)
      font-size: 24px

    .icon
      fill: $text-color
      height: 32px
      min-width: 32px
      margin-left: auto
      width: 32px

    &:hover,
    &:focus
      background-color: $purple_light
      color: $text-color
